<div id="addPaybackModal" class="modal hide fade .paybackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="flat-container">
		<div class="flat-header">
			<h3>RECORD A PAYBACK</h3>
		</div>
		<div id="expense-slimscroll">

		{% render(controller("TkExpenseBundle:Payback:new")) %}
			
			
		</div>
	</div>
</div>