{% extends 'TkWelcomeBundle:BlogPosts:blogFrame.html.twig' %}

{% block facebook_metatags %}
<meta property="og:url"             content="http://www.twinkler.co/blog/post/131105" />
<meta property="og:type"            content="article" />
<meta property="og:site_name"       content="Twinkler"/>  
<meta property="og:title"           content="Annoucing our new iPhone app" />
<meta property="og:image"           content="" />
{% endblock %}

{% block facebook_like %}
<div class="fb-like" data-href="http://www.twinkler.co/blog/post/131105" data-send="true" data-width="200" data-font="arial"></div>
{% endblock %}

{% block blog_post %}
	<div style="text-align: center; font-family: 'Proxima-bold';">
		<h3>Annoucing our new<br> iPhone app</h3>
		<img src="{{ asset('img/links/blog/nyc-polaroid.png') }}" width="500px" alt="NYC">
	</div>

	<p>We are excited to annouce you the official release of our brand new iPhone app, it's free and you can <a href="https://itunes.apple.com/app/twinkler/id702569884">download it here</a>.</p>
	<p><b>The app brings Twinkler to the next step</b>, we have taken all the feedbacks we got from building the website and re designed a new experience for your iPhone. We focused on making three things really usefull and easy: <b>inviting your friends with facebook, adding new expenses quickly and navigating between your different groups smoothly.</b></p>
	<p>We also made sure all your information was accessible offline by caching it into your iPhone memory. Yet you still need an internet connection to add new expenses, thus to make sure there is no conflict with what your friends add in the same time. Of course the website is still live and all your data is fully synchronised and securely safe on our secured servers.</p>
	<p>Last, we would like to come back on a major decision we made. <b>Using "Facebook connect only"</b> for futur users. By conecting with Facebook, you will accept to share no more than your name, your picture, your email and your list of friends with Twinkler. This will enable you to add your friends in a tap from Twinkler and they will just have to download the app or go to the website and login to access all the information. No more link to share or invitation to send. Be sure that all the information you put on Twinkler will not be shared with third parties and we will never post anything in your name (we don't even have the permission for that).</p>
	<p><b>Now we invite you to download Twinkler,</b> enjoy and let us know how you use it on our <a href="https://www.facebook.com/TwinklerCommunity">Facebook page</a>.</p>
	<p>Have a good day,</p>
	<p>The Twinkler team</p>

	<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px"> 
	 	<i class="icon-heart"></i> 223 <br> 
	 	Nov 5th, 2013
	</div>
{% endblock %}