{% extends 'TkWelcomeBundle:BlogPosts:blogFrame.html.twig' %}

{% block facebook_metatags %}
<meta property="og:url"             content="http://www.twinkler.co/blog/post/131014" />
<meta property="og:type"            content="article" />
<meta property="og:site_name"       content="Twinkler"/>  
<meta property="og:title"           content="iOS App pre-release - NYC" />
<meta property="og:image"           content="http://www.twinkler.co/img/links/blog/nyc-polaroid.png" />
{% endblock %}

{% block facebook_like %}
<div class="fb-like" data-href="http://www.twinkler.co/blog/post/131014" data-send="true" data-width="200" data-font="arial"></div>
{% endblock %}

{% block blog_post %}
	<div style="text-align: center; font-family: 'Proxima-bold';">
		<h3>iOS App pre-release - NYC</h3>
		<img src="{{ asset('img/links/blog/nyc-polaroid.png') }}" width="500px" alt="NYC">
	</div>

	<h4>The iPhone app is almost there!</h4>
	<p>
		We are back from a one-week trip in New York City where we had the chance to meet very interesting startups and no-longer startups (Kickstarter, YPlan, Twitter, Foursquare) as well as investors (ff Ventures, Betaworks).<br>
		But NYC was not only about learning about other startups, we also used the <strong>not-yet-released iOS app of Twinkler</strong>. Equiped with brand new iPhones 5S we just spent the week paying for each other anything and putting it straight away on Twinkler. And I have to admit this was cool.<br>
		Having the possibility to <strong>record an expense</strong> immediately after you made it is a major breakthrough in Twinkler development. Not only we remove the bothering of calculating who owes what but now we completely remove the bothering of remembering expenses.<br>
		After using Twinkler ourselves in NYC, we have made the necessary refinements and submitted it to Apple. We are very excited to show this app to you, stay tuned it is coming very soon!
	</p>

	<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px"> 
	 	<i class="icon-heart"></i> 102 <br> 
	 	Oct 14th, 2013
	</div>
{% endblock %}