{% extends 'TkWelcomeBundle:BlogPosts:blogFrame.html.twig' %}

{% block metatags %}
<meta property="fb:app_id"          content="130641483808717" />
<meta property="fb:admins"          content="657231643" />
<meta property="og:url"             content="http://www.twinkler.co/blog/post/130717" />
<meta property="og:type"            content="article" />
<meta property="og:site_name"       content="Twinkler.co"/>  
<meta property="og:title"           content="Work hard, play hard - Twinkler for Jokari" /> 
<meta property="og:image"           content="http://www.twinkler.co/img/links/blog/jokari.jpg" />
{% endblock %}

{% block blog_post %}
	<div style="text-align: center; font-family: 'Proxima-bold';">
		<div style="position: absolute; top:10px; right:0;">
			<div class="fb-like" data-href="http://www.twinkler.co/blog/post/130717" data-send="true" data-width="200" data-font="arial"></div>
		</div>
		<h3>Work hard, play hard!</h3>
		<img src="{{ asset('img/links/blog/jokari.jpg') }}" width="500px" alt="Jokari">
	</div>

		<p>After a hard day of work launching Twinkler, there's nothing better than a game of Jokari to relax with friends! For those who don't know, the Jokari is a game where a rubber ball is attached to an anchor by a long elastic band, which makes the ball come back when you hit it. This sounds quite dumb but it's amazingly really fun!
			<br>
			We met our friends from the newly formed Paris Jokari Club. They welcomed us on a beautiful rooftop in the heart of Paris. It was the perfect occasion to try our brand new website to share this moment! <br>
			We hope you'll like it as much as we did last night!
	 	</p>

	<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px"> 
	 	<i class="icon-heart"></i> 32 <br> 
	 	Jul 17th, 2013
	</div>
{% endblock %}