{% extends 'TkWelcomeBundle:BlogPosts:blogFrame.html.twig' %}

{% block blog_post %}
	<div style="font-family: 'Proxima-bold'">
		<div style="position: absolute; top:10px; right:0;">
			<div class="fb-like" data-href="http://www.twinkler.co/blog/post/130716" data-send="true" data-width="200" data-font="arial"></div>
		</div>
		<h3>This is the beginning my friends!</h3>
		<img src="{{ asset('img/links/blog/launching.jpg') }}" width="500px" alt="Twinkler Begining" style="margin-top:30px;">
	</div>

	<p>Today is a big day: we're launching Twinkler's beta website! It is still very early stage but this is only the premises of something bigger :) We are working hard to make this happen and offer you the most lovely place to share moments with your friends. <br>
	So far, only the website is live but the apps will follow really really soon! In the meantime, have you tried to use Twinkler on your smartphone? Wahouuu, the website is fully responsive so you can use it on all your mobile devices!
	Free paybacks will be added as well in late August so you can all pay back your friends after some crazy holiday trips! <br>
	Please share with us your thoughts, ideas or comments! We love to have feedbacks from you guys!
 	</p>

	<div style="text-align:right; color:#d3d3d3; font-family: 'Proxima-bold'; font-size:16px">
		<i class="icon-heart"></i> 12 <br> 
	 	Jul 16th, 2013
	</div>
{% endblock %}