<div class="flat-container">
	<div class="flat-header">
		<h3>SETTLE ALL DEBTS</h3>
	</div>
	<div id="expense-slimscroll">
	
	</div>
	<div class="flat-footer" style="margin: 0px">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    	<a class="btn btn-success" href="">Settle all debts</a>
    </div>
</div>