{% extends 'TkUserBundle::layout.html.twig' %}

{% block layoutcontent %}

<div id="user-layout" class="row">
	<div class="span6 offset3"> 
		<div class="flat-container">
			<div class="flat-header">
			<h3>You have been invited to join the group <br>"{{ group.name }}"</h3>
			</div>
			<div>
				{% if group.members|length == 0 %}
			 		<div class="box">
						<p>All the members have join the group</p>
						<p>Ask someone to add a member to the group for you and you will see your name appear here.</p>
						<p>Sorry for that...</p>
					</div>
				{% else %}
				<p>Click on your name in the list below</p>
				{% for member in group.members %}
					{% if member.user != null %}
					{% else %}
						<div class="box">
							<p><a href="{{ path('tk_welcome_chosen_member', { 'id' : member.id, 'token' : member.invitationToken }) }}">{{ member.name }}</a></p>
						</div>
					{% endif %}
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}