{% extends 'TkWelcomeBundle:Default:index.html.twig' %}

{% block title %}<title>Twinkler for clubs</title>{% endblock %}
{% block css %}
<link href="{{ asset('css/links.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block header_links %}{% endblock %}

{% block content %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 suggestion-box">				
				<img alt="Clubs managing money with Twinkler" height="80" width="80" src="{{ asset('img/landing-page/suggestion-sport.jpg') }}" />
				<h1>Twinkler for clubs</h1>
				<div>
					<p>Hello mates,</p>
					<p>You play <strong>five-a-side football</strong> every Sunday? You are the one who <strong>pays for the pitch</strong> each time? Your teammates promise to <strong>pay you back</strong> but they always forget and then you don't know how to ask for it again? Welcome to Twinkler.</p>
					<p>At Twinkler we love sport and we want to make sure that teams <strong>don't argue about shared bills</strong> because they can't remember who paid what. With Twinkler you have a place to log all the expenses of your team and see <strong>who owes what at any time</strong>.</p>
					<p>Using Twinkler is dead easy:<br>
					- <a href="{{ path('fos_user_registration_register')}}">Register</a> on this website or download our iPhone app <a href="https://itunes.apple.com/app/twinkler/id702569884">here</a><br>
					- Create a group and invite your teammates in a click from your facebook friends<br>
					- Any time someone pays for something he just adds it on the group tab<br>
					- See the balance everyone owes at any time and the easiest way to pay back<br>
					- We are in the process of implementing payments so that you can settle all debts for free within Twinkler
					</p>
					<p>So why hesitating? Create a group right now and start using Twinkler, it is 100% free</p>
					<div align="center"><a href="{{ path('tk_welcome_create_group')}}" class="btn btn-warning">Create a group</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}