{% extends 'TkWelcomeBundle:Links:links.html.twig' %}

{% block links_body %}

<section>
	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<div id="about" style="text-align:center; width:100%;margin-top:150px">
						<h1>Come and stop by for a cup of coffee!</h1>
						<h3>and yes, this is where we work :) </h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div id="footer" class="container" style="font-family:'Helvetica Neue';">
		<div class="row" style="padding: 80px 0px">
			<div id="bfm" class="span10 offset2">
				<div class="span3">
					<img src="{{ asset('img/links/plan.png') }}" width="400px" class="img-circle" alt="Finalist at Generation Accenture" style="margin-top:-20px; ">
				</div>
				<div class="span6" style="margin-left: 50px;">
					<h3>Feel free to contact or visit us any time</h3>
					<p>We are located at the very heart of one of the most vibrant citie in the world, Paris!</p>
					<p><font style="font-size:14px; font-weight: bold"> Shoot us an email: </font><a href="mailto:contact@twinkler.co">contact@twinkler.co</a></p>
					<h5 style="line-height:110%;margin:0">Twinkler:</h5>
					<p>60 boulevard Saint Michel <br>
					75 006, Paris <br>
					France</p>

				</div>
			</div>

		</div>
	</div>
</section>
{% endblock %}