{% extends 'TkWelcomeBundle:Default:index.html.twig' %}

{% block css %}
<link href="{{ asset('css/links.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_links %}

<li class="header-collapse"><a href="{{ path('tk_welcome_about') }}">ABOUT</a></li>
<li class="header-collapse"><a href="{{ path('tk_welcome_press') }}">PRESS</a></li>
<li class="header-collapse"><a href="{{ path('tk_welcome_contact') }}">CONTACT</a></li>
{% endblock %}

