{% extends 'TkWelcomeBundle:Links:links.html.twig' %}

{% block links_body %}
<section>
	<div id="press">
		<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<div id="about" style="text-align:center; width:100%;margin-top:220px">
						<h1>They talk about us!</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div id="footer" class="container" style="font-family:'Helvetica Neue';">
		<div class="row" style="padding: 80px 0px">
			<div id="bfm" class="span9 offset2">
				<div class="span2">
					<img src="{{ asset('img/links/bfm.png') }}" width="300px" class="img-circle" alt="Finalist at Generation Accenture" style="margin-top:30px;">
				</div>
				<div id="bfm-desc" class="span6">
					<h3>Generation Accenture - BFM Business</h3>
					<p><font style="color:#8e8e8e">Saturday, April 6th, 2013</font></p>
					<p> <stong>Jules Marcilhacy </stong>was invited by Alexandre Lichan to talk about his project in <stong>Club Media RH - BFM Business<stong> after he was selected for the finals of Generation Accenture. </p>


					<p><stong>Generation Accenture</stong> is an entrepreneurship competition where students from top French Business and Engineering Schools defend an out-of-the-box idea during a real-condition interview lead by a journalist from BFM.
					</p>	
				</div>
			</div>

		</div>
	</div>
</section>

{% endblock %}