tk_expense_homepage:
    pattern:  /group/expenses
    defaults: { _controller: TkExpenseBundle:Expense:index }

tk_expense_new:
    pattern:  /group/expenses/new
    defaults: { _controller: TkExpenseBundle:Expense:new }

tk_expense_edit:
    pattern:  /group/expenses/edit/{id}
    defaults: { _controller: TkExpenseBundle:Expense:edit }

tk_expense_remove:
    pattern:  /group/expenses/remove/{id}
    defaults: { _controller: TkExpenseBundle:Expense:remove }

tk_expense_ajax:
    pattern: /group/ajax/expenses
    defaults: { _controller: TkExpenseBundle:Expense:ajaxContent }