{% extends "FOSUserBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <title>Twinkler - Register</title>
{% endblock %}

{% block signuplogin %}
    <a href="{{ path('fos_user_security_login') }}">LOG IN</a>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
