/* --- CSS of the BLOG --- */

strong{
	font-family: 'Proxima-bold';
}
/* --- Blog ---*/

#blog{
	background-image: url(' ../img/links/blog.jpg');
	background-repeat:no-repeat;
	background-size: cover; 
	background-attachment:fixed;
	background-position: 0px -80px;
	height: 450px;
	width: 100%;
	text-align: center;
}
#blog-title {
	text-align:center; 
	width:100%;
	margin-top:220px
}
#blog h1{
	color:white;
	font-family:Proxima-regular;
	font-size:52px;
	line-height:1em;
	margin-bottom:15px;
	text-shadow:rgba(54, 54, 54, 0.6) 1px 1px 1px;
}
.blog-container a:hover{
	text-decoration: none;
}
.blog-container h3,{
	color: #272727;
}
.blog-container h4,{
	color: #272727;
}
.blog-container h3:hover{
	color: #444444;
}
.blog-container h4:hover{
	color: #444444;
}
.blog-post{
	margin-top: 20px;
	padding-bottom: 30px;
	font-family: "Proxima-regular", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #d3d3d3;
}
.blog-post p{
	color: #4f4f4f;
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1.3em;
	text-align: justify;
	margin-top: 20px;
}
.blog-post img{
	width: 100%;
	max-width: 500px;
	margin-top: 30px;
}
.blog-post-footer{
	text-align:right; 
	color:#d3d3d3; 
	font-family: 'Proxima-bold'; 
	font-size:16px
}

@media only screen and (max-width: 569px) {
	#blog{
		height: 200px;
	}
	#blog-title{
		margin-top: 100px;
	}
}

/*----BLOG FRAME------*/

.blog-post-list{
	color: #69AACA;
	display: block;
	font-weight: bold;
	padding: 6px 10px 8px;
	position: relative;
	text-decoration: none;
}

.blog-post-list a:hover{
	text-decoration: none;
}

.blog-post-list li{
	border-bottom: 1px solid #EFF4F6;
	margin: 10px 0px;
	padding-bottom: 10px;
	list-style:none;
}

.selected{
	background: none repeat scroll 0 0 #414141;
	border-radius: 14px 14px 14px 14px;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding:5px 15px;
}

.selected:hover{
	background: none repeat scroll 0 0 #6d6d6d;
	color: #FFFFFF;
}
