/* ------ CSS of expense part of Expenses only ------ */

.expense-header{
  	border-bottom-left-radius:4px;
  	border-bottom-right-radius:4px;
  	min-height: 34px;
  	margin: 5px;
}

.expense-header{
	width: auto;
}

.expense-header h2{
	line-height: 34px;
}

.flat-header a{
	color: #e9f0f4;
	vertical-align: middle;
}

.flat-header a:hover{
	color: #c1cfd9;
	text-decoration: none;
}


#expense-title{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding-left: 12px;
}

#expense-title > h2{
	font-size: 16px;
	color: #fcd5d2;
	margin: 0px;
	vertical-align: middle;
}

/* --- PAYBACK (left) --- */
.payback-table > table{
	width: 95%;
}

.payback-table tr{
	border-bottom: solid 1px #C8C8C8;
}

.payback-table tr:last-child {
	border-bottom: none;
}


.payback-table td{
	padding-left: 5px;
}

.payback-table .payback-text{
	color:#C8C8C8; font-size: 12px;
}

/* --- BALANCE (left) --- */

#balance{
	margin: 20px 0px;
	min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
	width:100%;
	color:white;
	position:relative;
	word-wrap:break-word;
	-moz-border-radius:5px; /*add some nice CSS3 round corners*/
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:2em;
}

#chart-labels td div { width:100%;height:100%;overflow:hidden }

.balance-box h2{
	font-size: 22px;
	vertical-align: middle;
}

#settlement{
	width: 100%;
	text-align: center;
	color:#f97e76;
}


.payback-table{
	width: 100%;
}

.payback-table table{
	text-align: center;
	margin: 10px auto;
	max-width: 100%;
}

@media only screen and (min-width: 768px) {
	#settlement:after{ /*arrow added to rightarrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:10px;
		left:100%; /*should be set to 100% */
		width:0;
		height:0;
		border-color: transparent transparent transparent white; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;	
	}
}


/*-------- Timeline ---------*/

#timeline{
	display: inline-block;
	width: 8%;
	vertical-align: top;
	background-image: url(' ../img/Frame/timeline-bck.png') ;
	background-repeat: repeat-y;
}

#timeline #today-pinpoint{
	margin-left: 15px;
}

/*------ EXPENSE TABLE ---------*/

#timeline-expense-container{
	display: inline-block;
	width: 85%;
}

#expense-timeline{
	margin: 20px 10px;
	width: 60%;
	position: relative;
}

#expense-dropdown{
	display: inline-block;
	width: 50px;
	text-align: center;

}

#expense-dropdown > a{
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#add-expense-btn{
	display: inline-block;
	position: absolute;
	right: 0;
	vertical-align: middle;
	padding: 7px 6px;
	border-left: 1px solid rgb(243,203,199);
}

#add-expense-btn a{
	vertical-align: middle;
}

#add-expense-btn i{
	margin: 15px 10px;
	vertical-align: middle;
}

#filter-buttons{
	display: inline-block;
	margin-left: 5px;
}

#filter-buttons a{
	text-decoration: none;
	padding: 0px 10px;
	color: #C8C8C8;
	cursor: pointer;
}

#filter-buttons .active{
	background-color: #C8C8C8;
	color: white;
	border-radius: 14px;
}

#expense-summary{
	float: right;
	text-align: right;
	margin-top: 5px;
	padding: 0px 20px;
	font-size: 12px;
	background-color: rgb(242,242,242);
	color: rgb(140,140,140);
  	border-bottom-left-radius:4px;
  	border-bottom-right-radius:4px;
  	border-top-left-radius:4px;
  	border-top-right-radius:4px;
}

.expense-list{
	width: 100%;
	padding:5px;
	position:relative;
	word-wrap:break-word;
	-moz-border-radius:5px; /*add some nice CSS3 round corners*/
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:5px;
	margin-left: 10px;
}

.no-expense{
	width: 60%;
	margin: 0px auto;
	margin-top: 5px;
	padding: 0px 10px;
	font-size: 12px;
	background-color: rgb(242,242,242);
	color: rgb(140,140,140);
  	border-bottom-left-radius:4px;
  	border-bottom-right-radius:4px;
  	border-top-left-radius:4px;
  	border-top-right-radius:4px;
}

.expense-list:after{ /*arrow added to leftarrowdiv DIV*/
	content:'';
	display:block;
	position:absolute;
	top:10px;
	left:-20px; /*should be set to -border-width x 2 */
	width:0;
	height:0;
	border-color: transparent white transparent transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.pinpoint-tmln{
	display: inline-block;
	float: left;
	margin-left: -10%;
	margin-top: 5px;
}

.expense-list-detailed{
	display: inline-block;
	min-height: 30px;
	margin-top: 0px;
	margin-bottom: 5px;
	width: 100%;
	position: relative;
}

.expense-list-detailed > img{
	display: inline-block;
	vertical-align: top;
	margin-right: 2px;
}

.expense-list-detailed .expense-details{
	display: inline-block;
	max-width: 500px;
}


.expense-list-detailed .your-share{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

.expense-list-detailed .edit-remove-buttons{
	position: absolute;
	bottom: 0;
	right: 0;
}

.liner{
	position: relative;
}

.liner:before{
	content:""; 
    display:block; 
    position:absolute; 
    left:0; 
    bottom:0px; 
    width:100%; 
    height:1px;                          
    background:#d4d4d4;
}

/*------ Date ---------*/

.date-block{
	display: inline-block; width:100%; margin-left: 15px; padding:5; margin-top: 15px;
}

.date-block > div{
	display: inline-block;
}

.date-block > div > .liner{
	min-height:50%; border-bottom: 1px solid #fff; margin-top:-5px;
}

.date-block > .expense-date{
	width:20%; color:#d4d4d4; text-align: center;
}

.date-block > .expense-date > p{
	text-shadow: 1px 1px white;
}

/* --- Expense Modal --- */
#addExpenseModal > .flat-container{
	width:100%;
	text-align: center;
}

#addExpenseModal > .flat-container > .flat-header{
	padding-top:10px;
}

#addExpenseModal > .flat-container > .flat-header h3{
	margin-top:0;
}


#add-expense-form{
	text-align: center;
	padding-top: 20px;
	margin: 0;
}

#tk_expensebundle_expensetype_date > select{
	width: 80px;
}

#users-row{
	text-align: center;
}

#users-row > #users-label{
	background-color: grey;
}

#users-row > div > .user-box{
	display: inline-block;
	margin: 10px;
}

#users-row > div > input,label{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

#addExpenseModal .flat-footer{
	padding-top: 20px
}

/* --- edit accordion --- */

.accordion-group {
    border: none;
    border-radius: none;
    margin-bottom: none;
}

.edit-remove-buttons .accordion-toggle{
	display: inline-block;
	padding: 0;
}

.accordion-inner{
	border: none;
	padding: none;
}

.collapse {
    overflow: hidden;
}
