/* --- CSS applyable for all website when user is connected--- */

body{
	height: 100%;
	margin: 0;
	padding: 0;
}

#page-body{
	background-image: url(' ../img/Frame/bck.png');

}


/*-----FRAME-----*/


.frame .row{
	margin-top: 20px;
	margin-bottom: 20px;
}

#content{
	margin-top:1px;
}

