/* --- CSS applyable for all website when user is connected--- */

body{
	height: 100%;
	min-width: 570px;
	margin: 0;
	padding: 0;
}

#page-body{
	background-image: url(' ../img/Frame/bck.png');
}

a {
	text-decoration: none;
}

/*-----FRAME-----*/


.frame .row{
	margin-top: 20px;
	margin-bottom: 20px;
}Ò	
