/* --- CSS applyable for all website when user is connected--- */

body{
	height: auto;
	margin: 0;
	padding: 0;
}

#page-body{
	background-image: url(' ../img/Frame/bck.png');
}

a {
	text-decoration: none;
}

/*-----FRAME-----*/

.frame .row{
	margin-top: 20px;
	margin-bottom: 20px;
}


/*-----memberProfileModal-----*/
#memberProfileModal .modal-header h3{
	line-height: 18px;
}

#memberProfileModal .modal-header small{
	color:#fff;
}

#memberProfileModal .modal-header{
	padding-bottom: 12px;
}

#memberProfileModal input{
	height: 40px;
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#memberProfileModal button{
	height: 40px;
	width: 30%;
}

#memberProfileModal .alert-warning{
	border: solid 2px rgb(192,152,83);
	padding: 5px;
}

#memberProfileModal .alert-warning button{
	color: rgb(192,152,83);
	opacity: 1;
}

/*-----userProfileModal-----*/
#userProfileModal p{
	line-height: 5px
}
