/*-------------CONTENT--------------*/
#content{
	height:100%;
	max-height: 420px;
}

#content-container{
	height:100%;
}

.row{
	height:100%;
}
/*---------GROUP SETTINGS-----------*/

.group-info{
	margin: 0px auto;
	margin-bottom: 10px;
	width: 100%;
}

.flat-header{
	min-height: 10px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

.flat-header h2{
	line-height: 24px;
}

.group-info .well{
	text-align: center;
}

.group-header{
	width: 100%;
	height: 30px;
}

.group-header a{
	color: #e9f0f4;
}

.group-header a:hover{
	color: #c1cfd9;
	text-decoration: none;
}

.group-header h2{
	margin-top: 2px;
	margin-bottom: 0px;
	padding: 0;
	color:#FCD5D2;
  	font-size:18px;
}

.group-title{
	display: block; 
	height:30px; 
	vertical-align: middle; 
	padding-top: 2px; 
	padding-left: 10px; 
	padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-edit:after{ /*arrow added to uparrowdiv DIV*/
	content:'';
	display:block;
	position:absolute;
	top:-20px; /*should be set to -border-width x 2 */
	right:10px;
	width:0;
	height:0;
	border-color: transparent transparent white transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.group-edit-hover:after{
	border-color: transparent transparent #fb786b transparent; /*border color should be same as div div background color*/
}

#group-edit-list{
	text-align: center;
	margin: 20px 0px;
}

#group-edit-list ul{
	margin: 0px;
	padding:0px;
}

#group-edit-list ul li{
	list-style: none;
	text-align: left;
	height: 40px;
	padding-left: 10px;
	color: #beb5b2;
	border-top: 1px solid: white;
	border-bottom: 1px solid #ded8d6;
}

#group-edit-list ul li:last-child{
	border-bottom: none;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

#group-edit-list ul li:hover{
	color: white;
	background-color: #FB786B;
}

#group-edit-list ul li:first-child{
	border-top: none;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}

#group-edit-list ul li a{
	color: #beb5b2;
	width: 100%;
	height: 100%;
}

#group-edit-list ul a:hover{
	color: #fff;
	text-decoration: none;
}

.edit-group{
	height: 30px;
	margin: 10px auto;
	padding-top: 8px;
	text-align: center;
	display: inline-block;
}

.edit-group a:hover{
	text-decoration: none;
}

.edit-group .flat-gn{
	height: 30px;
}

.preferences{
	color: #9eb2c0;
	line-height: 12px;
	padding-left: 10px;
}

/*-----mainbox-----*/
.left-arrow:after{ /*arrow added to leftarrowdiv DIV*/
content:'';
display:block;
position:absolute;
top:10px;
left:-20px; /*should be set to -border-width x 2 */
width:0;
height:0;
border-color: transparent white transparent transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width: 10px;
}

.group-info-header{
	height: 30px;
	border-bottom: 1px solid #EFF4F6;
	margin-bottom: 20px;
 	color:#BEB5B2;
 	text-align: left;
 	padding-left: 10px;
 	padding-top: 10px;
}


.edit-group-a{
	color: #fff;
}

.edit-group-a:hover{
	color: #fff;
}

/* --- PAYBACK (left) --- */
.payback-table > table{
	width: 95%;
}

.payback-table tr{
	border-bottom: solid 1px #C8C8C8;
}

.payback-table tr:last-child {
	border-bottom: none;
}


.payback-table td{
	padding-left: 5px;
}

.payback-table .payback-text{
	color:#C8C8C8; font-size: 12px;
}

.payback-container{
	border-top: 1px solid #ded8d6;
	padding-top: 20px;
	margin-top: 10px;
}

/* --- BALANCE (left) --- */

#balance{
	margin: 20px 0px;
	min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
	width:100%;
	color:white;
	position:relative;
	word-wrap:break-word;
	-moz-border-radius:5px; /*add some nice CSS3 round corners*/
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:2em;
}

#chart-labels td div { width:100%;height:100%;overflow:hidden }

.balance-box h2{
	font-size: 22px;
	vertical-align: middle;
}

#settlement{
	width: 100%;
	text-align: center;
	color:#f97e76;
	margin-bottom: 60px;
}

.payback-table{
	width: 100%;
}

.payback-table table{
	text-align: center;
	margin: 10px auto;
	max-width: 100%;
}

.payback-table table div{
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	min-height: 50px;
	padding-top: 14px
}

@media only screen and (min-width: 768px) {
	
}

/*-----My payback -----*/


#my-settlement{
	width: 100%;
	text-align: center;
	color:#f97e76;
	margin-bottom: 20px;
}

#my-settlement tr{
	cursor: pointer;
}

#my-payback-owner{
	position: relative;
}

#payback-cta{
	padding-top: 0px;
	min-height: 0px;
    color:#C8C8C8;
    font-size:12px;
    position: absolute;
    left:-300px;
}


/*--- Balance ----*/
#chart-balance{
	margin:0px;
	min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
	width:100%;
	color:white;
	position:relative;
	word-wrap:break-word;
	-moz-border-radius:5px; /*add some nice CSS3 round corners*/
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:2em;
}

/*---form option----*/
input, textarea, .uneditable-input {
  width:80%;
}

select {
  width:80%;
}

/* --- Modals --- */

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom{
	margin-right: 0px;
}

#modal .flat-container{
	position: relative;
	width: 100%
}

#modal .flat-header{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	text-align: center;
	margin: 0px;
	font-size: 16px;
}

#modal h3{
	margin: 0px;
	font-size: 16px;
}

#modal .payback-date select{
	width: 70px;
	margin: 0px;
}

#modal #expense-slimscroll div{
	margin: 10px 0px;
}

#modal .flat-footer{
	padding-top: 20px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	margin: 0px;
}

/* --- Settle debts modal --- */

#settleDebtsModal .settle-debt-content{
	margin: 0;
	padding: 10px 20px;
}

#settleDebtsModal form{
	margin: 0px;
}

#settleDebtsModal .flat-footer{
	padding-top: 20px;
	margin: 0px;
}

.settle-debt-member{
	display:inline-block; 
	width: 80%;
}

.settle-debt-member table{
	width: 100%;
}

.settle-debt-member tr{
	height: 50px;
  border-bottom-color:#CCCCCC;
  border-bottom-style:dotted;
  border-bottom-width:1px;
}


.settle-debt-member tr:last-child{
	height: 50px;
  border-bottom:none;
}

.settle-debt-member .td-checkbox{
	width: 30px;
}

.settle-debt-member .td-profilepic{
	margin: 0px 30px;
}