/* ------ CSS of expense part of Expenses only ------ */
.expense-header{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	min-height: 34px;
	margin: 5px;
}

.expense-header{
	width: auto;
}

.expense-header h2{
	line-height: 34px;
}

.flat-header a{
	color: #e9f0f4;
	vertical-align: middle;
}

.flat-header a:hover{
	color: #c1cfd9;
	text-decoration: none;
}


#expense-title{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	padding-left: 12px;
}

#expense-title > h2{
	font-size: 16px;
	color: #fff;
	margin: 0px;
	vertical-align: middle;
}

/* --- BALANCE (left) --- */

#balance{
	margin:0px;
	min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
	width:100%;
	color:white;
	position:relative;
	word-wrap:break-word;
	-moz-border-radius:5px; /*add some nice CSS3 round corners*/
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:2em;
}

#chart-labels td div { width:100%;height:100%;overflow:hidden }

.balance-box h2{
	font-size: 22px;
	vertical-align: middle;
}

#settlement{
	width: 100%;
	text-align: center;
	color:#f97e76;
}


.payback-table{
	width: 100%;
}

.payback-table table{
	text-align: center;
	margin: 10px auto;
	max-width: 100%;
}

@media only screen and (min-width: 768px) {
	#balance:after{ /*arrow added to rightarrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:10px;
		left:100%; /*should be set to 100% */
		width:0;
		height:0;
		border-color: transparent transparent transparent white; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;	
	}
}


/*-------- Timeline ---------*/

#timeline{
	display: inline-block;
	width: 8%;
	vertical-align: top;
	background-image: url(' ../img/Frame/timeline-bck.png') ;
	background-repeat: repeat-y;
}

#timeline #today-pinpoint{
	margin-left: 18px;
	z-index: -1;
}

/*------ EXPENSE TABLE ---------*/

#timeline-expense-container{
	display: inline-block;
	width: 85%;
}

#expense-timeline{
	margin: 20px 10px;
	width: 60%;
	position: relative;
}

#expense-dropdown{
	display: inline-block;
	width: 50px;
	text-align: center;

}

#expense-dropdown > a{
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#add-expense-btn{
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	position: absolute;
	right: 0;
	vertical-align: middle;
	width: 150px;
	height: 100%;
	padding: 9px 6px;
	border-left: 1px solid rgb(243,203,199);
	color: white;
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
}
#add-expense-btn:hover{
	background-color:rgba(246,186,174, 1);
}

#add-expense-btn a{
	vertical-align: middle;
}

#add-expense-btn i{
	margin: 0px 10px;
}

#filter-buttons{
	display: inline-block;
	margin-left: 5px;
}

#filter-buttons a{
	text-decoration: none;
	padding: 0px 10px;
	color: #C8C8C8;
	cursor: pointer;
}

#filter-buttons .active{
	background-color: #C8C8C8;
	color: white;
	border-radius: 14px;
}

#expense-summary{
	float: right;
	text-align: right;
	margin-right: 5px;
	padding: 0px 20px;
	font-size: 12px;
	background-color: rgb(242,242,242);
	color: rgb(140,140,140);
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.expense-list{
	width: 100%;
	padding:5px;
	position:relative;
	word-wrap:break-word;
	-moz-border-radius:5px; /*add some nice CSS3 round corners*/
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:5px;
	margin-left: 10px;
}

.no-expense{
	width: 60%;
	margin: 0px auto;
	margin-top: 5px;
	padding: 0px 10px;
	font-size: 12px;
	background-color: rgb(242,242,242);
	color: rgb(140,140,140);
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.expense-list:after{ /*arrow added to leftarrowdiv DIV*/
	content:'';
	display:block;
	position:absolute;
	top:10px;
	left:-20px; /*should be set to -border-width x 2 */
	width:0;
	height:0;
	border-color: transparent white transparent transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.pinpoint-tmln{
	display: inline-block;
	float: left;
	margin-left: -10%;
	margin-top: 22px;
}

.expense-list-detailed{
	display: inline-block;
	min-height: 30px;
	margin-top: 0px;
	margin-bottom: 5px;
	width: 100%;
	position: relative;
}

.expense-list-detailed > img{
	display: inline-block;
	vertical-align: top;
	margin-right: 2px;
}

.expense-list-detailed .expense-details{
	display: inline-block;
	max-width: 500px;
}


.expense-list-detailed .your-share{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

.expense-list-detailed .edit-remove-buttons{
	position: absolute;
	bottom: 0;
	right: 0;
}

.liner{
	position: relative;
}

.liner:before{
	content:""; 
	display:block; 
	position:absolute; 
	left:0; 
	bottom:0px; 
	width:100%; 
	height:1px;                          
	background:#d4d4d4;
}

/*------ Date ---------*/

.date-block{
	display: inline-block; width:100%; margin-left: 15px; padding:5; margin-top: 15px;
}

.date-block > div{
	display: inline-block;
}

.date-block > div > .liner{
	min-height:50%; border-bottom: 1px solid #fff; margin-top:-5px;
}

.date-block > .expense-date{
	width:20%; color:#d4d4d4; text-align: center;
}

.date-block > .expense-date > p{
	text-shadow: 1px 1px white;
}

/* --- Expense Modal --- */


#addExpenseModal .modal-body{
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#add-expense-form{
	text-align: center;
	padding-top: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

#add-expense-form >div> div{
	margin-top: 10px;
	margin-bottom: 10px;
}
#add-expense-form input{
	height: 40px;
}

#users-row{
	text-align: center;
	margin-top: 30px;
}

#users-row > #users-label{
	background-color: #F2F2F2;
	color: #333333;
	height: 30px;
	padding-top: 5px;
	margin-bottom:10px;
}

#users-row > div > .user-box{
	display: inline-block;
	margin: 10px;
	text-align: center;
	margin-top: 20px;
}

#users-row input, textarea, .uneditable-input {
	width: 20px;
}


#tk_expensebundle_expensetype_date > select{
	width: 60px;
}

#users-row > div > input,label{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

#addExpenseModal .modal-footer{
	margin-top: 0px
}

.select-deselect{
	color:rgba(69, 69, 69, 0.6);
}

.modal-footer {
	text-align: center;
}


/* --- edit accordion --- */

.accordion-group {
	border: none;
	border-radius: none;
	margin-bottom: none;
}

.edit-remove-buttons .accordion-toggle{
	display: inline-block;
	padding: 0;
}

.accordion-inner{
	border: none;
	padding: none;
}

.collapse {
	overflow: hidden;
}

/*-----------------------------------------------------------------------------------------------------*/

/*--expense table----*/
#expense-table-container{
	margin-top: 15px;
	width: 100%;
	margin-bottom: 20px;
}

#expense-table{
	width: 100%;
	border: solid 2px rgb(189,195,199);
	border-radius:6px;
	border-collapse: separate;
    border-spacing: 0; /* "Simulation" de border-collapse */
    background-color:white;
    font-size: 16px;
}


#expense-table-header tr{
	background-color:rgb(189,195,199);
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	height: 30px;
  color:#595959;
}

.expense-row{
	padding: 10px 0px;
}

#expense-table td{
  border-bottom-color:#CCCCCC;
  border-bottom-style:dotted;
  border-bottom-width:1px;
}

#expense-table tr:nth-last-child(2) td{
	border-bottom: none;
}

.expense-row{
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.expense-row td{
	vertical-align: top;
	padding-top: 12px;
}

#date-column{
	min-width: 20px;
	padding: 4px;
	text-align: center;
}

#profile-pic-row{
	min-width: 30px;
	padding: 8px;
	text-align: center;
}

#amount-column div{
	min-height: 60px;
}

#amount-column{
	min-width: 80px;
	text-align: center;
}

#balance-column{
	min-width: 80px;
	text-align: center;
}

#edit-column{
	text-align: center;
	color: #595959;
}

#edit-column .btn{
	width: 45px;
}


#edit-column a:hover{
	text-decoration: none;
	cursor: pointer;
}

#edit-column ul li{
	text-align: left;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* --- CSS Chart --- */
.balance-table-container{
	position:relative;
	height: 100%;
}

#balance-table{
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}

.odd-row{background: rgb(250,250,250)}

#balance-owner{
	width:20%;
	text-align: center;
	border: dashed 1px rgb(243,243,243);
}

.neg{
	color:rgba(231, 76, 60,1.0);
}

.pos{
	color:rgba(153, 179, 53, 1.0);
}

.negative-balance{
	border: solid 1px rgb(243,243,243);
	width: 20%;
	background-color: white;
	position: relative;
}
.negative-balance > div{
	min-height: 50px;
}

.positive-balance{
	border: solid 1px rgb(243,243,243);
	width: 20%;
	background-color: white;
	position: relative;
}

.positive-balance > div{
	min-height: 50px;
}

.neg-bar{
	position: absolute;
	right: 0;
	top:10px;
	background-color: rgba(250,132,101,1.0);
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-right: none;
	width: 0px;
	height: 32px;
}

.pos-bar{
	position: absolute;
	left: 0;
	top:10px;
	background-color:  rgba(154,193,33,0.6);
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-left: none;
	width: 0px;
	height: 32px;
}

/*----edit expense------*/
.hidden{
	display:none;
}

#edit-expense div form > div{
	margin: 10px 0px;
}


/*---- NEW GROUP BUTTON ----*/
#new-group-button{
	border:dashed 2px #b7b7b7;
	border-radius:5px;
	color:#b7b7b7;
	line-height: 68px; 
	width: 99.5%; 
	height: 68px; 
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 50px;
}

#new-group-button:hover{
	background-color: rgba(255,255,255,0.5)
}