/*---------GROUP SETTINGS-----------*/

.group-info{
	margin: 10px auto;
	width: 100%;
}

.flat-header{
	min-height: 10px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

.flat-header h2{
	line-height: 24px;
}

.group-info .well{
	text-align: center;
}

.group-header{
	width: 100%;
	height: 30px;
}

.group-header a{
	color: #e9f0f4;
}

.group-header a:hover{
	color: #c1cfd9;
	text-decoration: none;
}

.group-header h2{
	margin-top: 2px;
	margin-bottom: 0px;
	padding: 0;
	color:#FCD5D2;
  	font-size:18px;
}

.group-edit:after{ /*arrow added to uparrowdiv DIV*/
	content:'';
	display:block;
	position:absolute;
	top:-20px; /*should be set to -border-width x 2 */
	right:10px;
	width:0;
	height:0;
	border-color: transparent transparent white transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;

}

#group-edit-list{
	text-align: center;
	margin: 20px 0px;
}

#group-edit-list ul{
	margin: 0px;
}

#group-edit-list ul li{
	list-style: none;
	text-align: left;
	height: 40px;
	padding-left: 10px;
	color: #beb5b2;
	border-top: 1px solid: white;
	border-bottom: 1px solid #ded8d6;
}

#group-edit-list ul li:last-child{
	border-bottom: none;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}



#group-edit-list ul li:hover{
	color: white;
	background-color: #FB786B;
}

#group-edit-list ul li:first-child{
	border-top: none;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}

#group-edit-list ul li a{
	color: #beb5b2;
	width: 100%;
	height: 100%;
}

#group-edit-list ul a:hover{
	color: #fff;
	text-decoration: none;
}

.edit-group{
	height: 30px;
	margin: 10px auto;
	padding-top: 8px;
	text-align: center;
	display: inline-block;
}

.edit-group a:hover{
	text-decoration: none;
}

.edit-group .flat-gn{
	height: 30px;
}

.preferences{
	color: #9eb2c0;
	line-height: 12px;
	padding-left: 10px;
}

/*-----mainbox-----*/
.left-arrow:after{ /*arrow added to leftarrowdiv DIV*/
content:'';
display:block;
position:absolute;
top:10px;
left:-20px; /*should be set to -border-width x 2 */
width:0;
height:0;
border-color: transparent white transparent transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width: 10px;
}

.group-info-header{
	height: 30px;
	border-bottom: 1px solid #EFF4F6;
	margin-bottom: 20px;
 	color:#BEB5B2;
 	text-align: left;
 	padding-left: 10px;
 	padding-top: 10px;
}


.edit-group-a{
	color: #fff;
}

.edit-group-a:hover{
	color: #fff;
}


/*------chart label table-----*/
#balance-slimscroll{
	margin: 0px auto;
	text-align: center;
	width: 90%;
}


#chart-labels{
	margin: 0px auto;
	margin-top: -30px;
	color:#F97E76;
	vertical-align: top;
}

#chart-labels tr td{
	width:100px;
}
