/* --- CSS of landing page only--- */

/* General */

body{
	width: 100%;
	min-width: 200px;
	margin:0;
	padding: 0;
}

h1, h2{
	font-family:HelveticaNeueMdCn, 'HelveticaNeueW01-67MdCn 692710', Helvetica, sans-serif;
	font-weight:normal;
	line-height:1em;
	font-size:42px;
}

strong{
	font-weight: bold;
}

h3{
	color: #222526;
}

a{
	text-decoration:none;
}

/* --- header --- */

header{
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow:rgba(0, 0, 0, 0.15) 0 1px 2px, rgba(0, 0, 0, 0.0470588) 0 0 8px inset;
	z-index: 9999;
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Proxima-regular';
	font-size: 14px;
}

header img{
	width: 150px;
	margin-left: 50px;
}

header a{
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	color:#B7B7B7;
	vertical-align: middle;
}

header a:hover{
	text-decoration: none;
	color:#767676;
}

header li{
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}

.brand{
	padding: 0px;
}

#login-register{
	padding-top: 5px;
	height:20px;
	margin-right: 40px;
}

#login-register span{
	vertical-align: bottom;
}

#login-register button{
	line-height:14px;
	font-size: 14px;
}

#login-register button + .max-700 {
	line-height:12px;
	font-size: 14px;
	padding:8px 8px;
}

/* body */

#section1{
	width: 100%;
	height: 100%;
	min-height: 500px;
	background-image: url(' ../img/landing-page/bck.png');
	background-position: 0px -20px;
	background-size: cover;
	padding-top: 10px;
}

#catchphrase{
	margin-top: 140px;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
}

#catchphrase > h1{
	color:#FEFEFE;
	font-size:60px;
	font-weight: bold;
	line-height:1.6em;    
	text-shadow: 0 1px 1px #000000;
	margin-bottom:0;
	text-align:center;
}

#catchphrase > h3{
	color:#C8C8C8;
	text-shadow: 0 1px 1px #000000;
	border-bottom: solid 1px #C8C8C8;
}

#catchphrase > #explaination{
	font-size: 32px;
	color:#FEFEFE;
	font-weight: lighter;
	text-shadow: 0 1px 1px #000000;
	line-height:1.5em;   
}

#catchphrase > a,
#catchphrase > a:hover{
	text-decoration: none;
}

#catchphrase > a >#learn-more{
	margin-top: 30px;
	font-size: 16px;
	color:#C8C8C8;
	font-weight: lighter;
	text-shadow: 0 1px 1px #000000;
	line-height:1.5em;   
}

#create-group-big {
	position:relative; 
	box-sizing: border-box; 
	ms-box-sizing: border-box; 
	webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
}

#group-creation-button{
	margin-top: 30px;
	font-size:24px;
	padding:15px 64px;
	padding-right: 74px;
	overflow: hidden;
}

.wrapper{
	height:50px;
	overflow:hidden;
	position:absolute;
	right:-1px;
	text-align:center;
	top:-2px;
	width:130px;
}

.wrapper span{
	color:white;
	transform:rotate(40deg);
	-ms-transform:rotate(40deg);
	-moz-transform:rotate(40deg);
	-webkit-transform:rotate(40deg);
	-o-transform:rotate(40deg);
	background-color:#4FADE3;
	background-position:initial initial;
	background-repeat:initial initial;
	font-size:11px;
	padding:4px 34px;
	position:absolute;
	right:-32px;
	text-align:center;
	text-transform:uppercase;
	top:5px;
	margin-right: 5px;
	background:#4fade3;
}

#overview-flow{
	background-color: white;
	text-align: center;
	padding: 20px 0px;
	border: solid 1px #B7B7B7;
}

#overview-flow a{
	color:#B7B7B7;
	font-weight: bold;
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	color: #222526;
	font-family: "Proxima-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}

#overview-flow a:hover{
	text-decoration: none;
	color:#777777;
}

.overview-arrow{
	color:#222526;
}

.icon-rotate-90 {
	display: none;
}

#iphone-view{
	min-height: 560px;
	display: block;
	vertical-align: bottom;
	position: relative;
	padding-top: 30px;
}

#iphone-view img{
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
}

#core-features{
	text-align: center;
	padding-top: 20px;
}

#core-features p{
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	color:#B7B7B7;
}

.learn-more{
	width: 180px;
	background-size: 100% auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
}

.learn-more-hover {
	display: block;
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	height:100%;
	cursor: pointer;
	vertical-align: middle;
	opacity: 0;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.6s ease;
	text-decoration: none;
}

.learn-more:hover .learn-more-hover{
	opacity: 1;
}

.feature{
	background-position:50% 100%;
	background-repeat:no-repeat no-repeat;
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.feature-description h1{
	color: #222526;
	font-family: "Proxima-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 44px;
	line-height: 1;
	margin-bottom: 10px;
}

.feature-description img{
	margin-top: 80px;
	width: 470px;
}

.feature h2{
	color:#B7B7B7;
	font-family: "Proxima-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	line-height: 1;
}

.feature-payback{
	border-bottom: solid 1px rgb(235,235,232);
	padding-bottom: 200px;
	background-image: none;
}

.feature-description{
	vertical-align: top;
	margin-top: 100px;
}

.feature-description > div{
	margin-top: 5%;
}

.feature-description p{
	color:#242728;
	line-height: 20px;
	font-size: 20px;
	font-family: "Proxima-regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.feature-description p strong{
	font-weight: bold;
}

.feature-group{
	margin-top:150px;
}

.feature-container{
	height:100%;
}

.feature{
}

#feature-img-1{
	margin: 5% 20%;
	max-width: 200px;
}

#feature-img-2{
	width: 100%;
	max-width: 340px;
	margin-top: 10%;
}

#feature-img-3{
	width: 100%;
	max-width: 340px;
	margin-top: 25%;
}

@media only screen and (max-width: 979px) {
	.feature h1{
		font-size:30px;
	}
	.feature h2{
		font-size:18px;
	}
}

.transition-arrows-container{
	position:relative;
}
.transition-arrows{
	width: 98px;
	height: 0px;
	position: absolute;
	background-image: url(' ../img/landing-page/blue-arrow.png'); 
	background-repeat:no-repeat;
	background-size: 50%;
	right: -110px;
	top:30px;
}
.transition-arrows-left{
	width: 98px;
	height: 0px;
	position: absolute;
	background-image: url(' ../img/landing-page/blue-arrow-left.png'); 
	background-repeat:no-repeat;
	background-size: 50%;
	left: -70px;
	top:30px;
}

/* Platforms */
#platform-section{
	overflow: hidden;
	background-color: rgb(235,235,232);
	background-repeat:no-repeat;
}

.platform{
	border-bottom: solid 1px rgb(235,235,232);
	padding: 60px 0px;
	min-height: 261px;
}
.platform-catchphrase{
	padding: 40px 0px;
	color:#242728;
	font-family:"Proxima-light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:1.25rem;
	font-weight: normal;
}
.platform-catchphrase h3{
	color:#242728;
	font-family:"Proxima-light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:24.5px;
	font-weight: normal;
}
.platform-thumbnails{
	position: relative;
}

#flat-laptop{
	min-height: 131px;
	position: absolute;
	top: 0px;
	left:800px;
}
#flat-iphone{
	position: absolute;
	top: 25px;
	left:800px;
}

@media only screen and (max-width: 767px) {
	#platform-section{
		height: 300px;
	}
	.platform{
		padding: 0px 0px;
	}
	.platform-thumbnails{
		margin-left: 40%;
	}
}

@media only screen and (max-width: 569px) {
	#platform-section{
		height: 350px;
	}
	.platform{
		padding: 0px 0px;
	}
	.platform-thumbnails{
		margin-left: 30%;
	}
}

/* feedbacks */
#feedback-section{
	padding: 60px 0px;
}


#user-feedbacks {
	text-align: center;
	margin: 40px auto;
}
.item div {
	display: inline-block;
	vertical-align: middle;
}

.item .feedback-img {
	width: 20%;
}

.item .feedback-img img {
	height: 80px;
	width: 80px;
	max-width: none;
}

.comment-background{
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	background-color: #f0f0f0;
	background-position:initial initial;
	background-repeat:initial initial;
	border:1px solid #dedede;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	color: #000000;
	font-size:20px;
	line-height: 24px;
	font-style: italic;
	width: 75%;
	min-height: 60px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 92px;
}

.comment-background:before{
	position:absolute;
	top:30px;
	left:-7px;
	border-right:7px solid #dedede;
	border-top:7px solid transparent;
	border-bottom:7px solid transparent;
	content:""
}

.comment-background:after{
	position:absolute;
	top:31px;
	left:-6px;
	border-right:6px solid #f0f0f0;
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
	content:""
}

.comment-background > .feedback-name{
	color: #000000;
	text-align: right;
	font-style: none;
	font-size: 14px;
	color: #000000;
	position: absolute;
	bottom: 0;
	right: 10px;
}

.carousel-control {
	position: absolute;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color:#222222;
	background-position:initial initial;
	background-repeat:initial initial;
	border:3px solid #FFFFFF;
	border-bottom-left-radius:23px;
	border-bottom-right-radius:23px;
	border-top-left-radius:23px;
	border-top-right-radius:23px;
	color:#FFFFFF;
	font-size:60px;
	font-weight:100;
	height:40px;
	left:15px;
	line-height:25px;
	margin-top:-20px;
	opacity:0.5;
	position:absolute;
	text-align:center;
	top:40%;
	width:40px;
}

#control-left {
	left: -100px;
}
#control-right {
	right: -100px;
}

@media only screen and (max-width: 767px) {
	.carousel-control{
		display: none;
	}
}
@media only screen and (max-width: 569px) {
	.item .feedback-img img {
		margin-left: -30px;
		height: 80px;
		width: 80px;
		max-width: none;
	}
	.comment-background {
		width: 50%;
	}

}

@media only screen and (min-width: 570px) {
	#gettheapp{
		background-image: url(' ../img/landing-page/get-the-app.jpg');
		background-repeat:no-repeat;
		background-size: auto 100%; 
		background-attachment:fixed;
		background-position: 40%;
		height: 400px;
		width: 100%;
		text-align: center;
	}
}

#section-transition{
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow:rgba(0, 0, 0, 0.15) 0 1px 2px, rgba(0, 0, 0, 0.0470588) 0 0 8px inset;
	min-height: 40px;
	color: black;
	text-align: center;
}

@media only screen and (max-width: 569px) {
	#testtt {
		display: none;
	}
	#section-transition{
		margin-bottom: 20px;
	}
}



#gettheapp img{
	margin-top: 150px;
	margin-right: 10px;
}

/* --- Twinkler is for all the groups in your life--- */
#tk-groups{
	display: inline-block;
}

#tk-groups div{
	display: inline-block;
	margin: 20px 20px;
	background-color: rgba(235,235,232,0.6);
	width: 215px;
	font-family: "Proxima-light";
}

@media only screen and (min-width: 569px) {
	#tk-groups-break{
		display: inline-block;
		height: 20px;
	}
}

#tk-groups div > h4{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Proxima-light";
}

#tk-groups div img{
	margin-top: 15px;
}

#tk-groups > h4{
	margin-bottom: 60px;
	margin-top: 60px;
	font-family: "Proxima-light";
}

.tk-group-catchphrase> h4{
	margin-bottom: 60px;
	margin-top: 40px;
	font-family: "Proxima-light";
}

.cta-bottom{
	margin-top: 50px;
	margin-bottom: 140px; 
	font-size:24px;
	width: 250px;
}

.free-container{
	position:absolute;
	height: 80px;
	width: 160px;
	top: 90px;
	left: 390px;
}



/* --- Footer --- */

#made-with-love{
	margin-top: 10px;
	text-align: center;
	color: #B7B7B7;
}

.repeat-bck{
	background-color:#EBEBE8;
	background-repeat: repeat;
}

#pre-footer{
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.footer-box{
	height: 122px;
	text-align: center;
}

#pre-footer p{
	color:#777777;
	font-family:ProximaNovaBold, Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-bottom: 0px;
}

#pre-footer img{
	margin-bottom: 5px;
}

#pre-footer i{
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

#footer-left a:hover{
	text-decoration: none;
}

#footer-right a{
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);

	color:rgba(241, 196, 15,1.0);
}

#footer-right a:hover{
	text-decoration: none;
	color: rgba(243, 156, 18,1.0);
}

footer{
	text-align: center;
	color: #B7B7B7;
	padding-top: 10px;
	background-color: white;
}

footer li{
	display: inline;
	list-style-type: none;
	padding-right: 30px;
	text-transform:uppercase;
	font-family:"Proxima-light";
	font-size: 16px;
}
footer a{
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	color:#B7B7B7;
}

footer a:hover{
	text-decoration: none;
	color:#767676;
}

footer p{
	margin:20px 0px;
}


/*----SIGN WITH ENVOY-----*/
#planning .span5{
	padding-top: 30px;
}
#iphone-pic{
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 530px; 
	width:305px; 
	max-width:305px;
	max-height: 530px; 
	background-image: url(' ../img/landing-page/iphone.png');
	background-position: center center;
	background-repeat:no-repeat no-repeat;
	background-size:cover;
	display:block;
	padding-top:20px;
	margin-left:60px;
	position: relative;
}

.screen{
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}

#js-slider{
	margin:0;
	list-style-type:none;
}

#js-slider li{
	width:194px;
	height:100%;
}

.step-intro{
	position: absolute;
	left:0;
	background-image: url(' ../img/landing-page/chat-bck.png');
	background-size: 194px 344px;
	background-repeat:no-repeat;
}

.step-data{
	position: absolute;
	left:194px;
	background-image: url(' ../img/landing-page/expense-bck.png');
	background-size: 194px 344px;
	background-repeat:no-repeat;
}

.step-nda{
	position: absolute;
	left:388px;
	background-image: url(' ../img/landing-page/balance-bck.png');
	background-size: 194px 344px;
	background-repeat:no-repeat;
}

@media only screen and (max-width: 980px) {
	#iphone-pic{
		margin-left:-50px;
	}
}

/* --- responsiveness --- */

@media only screen and (max-width: 1200px) {
	#catchphrase{
		margin-top: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media only screen and (min-width: 991px) {
	#overview-flow .row{
		margin-left: -10%;
	}
}

@media only screen and (max-width: 991px) {
	#section1{
		min-height: 400px;
	}
	.icon-rotate-0{
		display: none;
	}
	.icon-rotate-90 {
		display: block;
	}
}

@media only screen and (max-width: 941px) {
	.min-940{
		display: none;
	}
}

@media only screen and (max-width: 820px) {
	.min-816{
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.max-767{
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	#section1 {
		min-height: 300px;
	}
	#catchphrase{
		margin-top: 80px;
	}
	#catchphrase > h1{
		color:#FEFEFE;
		font-size:40px;
		font-weight: bold;
		line-height:1.2em;
	}
	#catchphrase > #explaination{
		font-size: 20px;
		line-height:1.4em;   
	}
	.min-767,
	.feature,
	.learn-more-link,
	#learn-more,
	footer ul {
		display: none;
	}
	#gettheapp{
		height: 300px;
	}
	.footer-box{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 700px) {
	#login-register{
		padding-top: 0px;
		height:20px;
		margin-right: 0px;
		padding-left: 0;
		font-size: 14px;
	}
	header {
		padding-top: 5px;
		padding-bottom: 10px;
	}
	header img{
		margin-left: 3%;
		width: 100px;
	}
	header ul{
		margin-left: 1%;
	}
	header li{
		paddin-right: 5px;
	}
	.min-700{
		display: none;
	}
}

@media only screen and (min-width: 701px) {
	.max-700{
		display: none;
	}
}

@media only screen and (min-width: 580px) {
	.max-570 {
		display: none
	}
}

@media only screen and (max-width: 579px) {
	.min-570 {
		display: none
	}
	#section1 {
		min-height: none;
	}
	#catchphrase{
		padding-left: 10px;
		padding-right: 10px;
	}
	#catchphrase > h1{
		color:#FEFEFE;
		font-size:36px;
		font-weight: bold;
		line-height:1.2em;
	}
	#catchphrase > #explaination{
		font-size: 18px;
		line-height:1.4em;   
	}
	#create-group-big{
		display: none;
	}
	#section2{
		margin-top: -20px;
	}
	#footer-left{
		display: block;
	}
}

/* ---------------- LINK PAGES --------------------- */

/* ---------------- Login and register parts --- */

#user-layout-body{
	padding-top: 100px;
	height: 100%;
	background-image: url(' ../img/landing-page/bck.png');
	background-size: cover;
}

#login-signup{
	padding-top: 10px;
	padding-right: 20px;
	height:20px;
	margin-right: 40px;
}

#user-layout-body .flat-container{
	text-align: center;
}

#user-layout-body .flat-header{
	padding-top: 10px;
}

#user-layout-body .flat-header h1{
	line-height: 12px;
  	font-family: "Lato", sans-serif;
  	margin: 10px 0px;
}

#user-layout-body .flat-container #hip-way{
	display: inline-block;
	vertical-align: top;
	width: 45%;
	padding: 0px 10px;
}

#user-layout-body .flat-container #hip-way #p1{
	display: inline-block;
	width:80%; color:rgb(245,103,99); 
	margin-bottom: 20px; 
	font-size: 18px
}

#user-layout-body .flat-container #hip-way #p2{
	color: #999999; 
	font-size: 12px;
	margin-bottom: 0px; 
	margin-top: 60px
}

#user-layout-body .flat-container #old-school-way{
	display: inline-block;
	vertical-align: top;
	width: 45%;
	border-left: 1px solid rgb(239, 244, 246);
}

#user-layout-body .flat-container #old-school-way input{
	min-height: 40px;
	margin: 10px 0px;
}
}

#user-layout-body .flat-container #old-school-way ul{
	list-style-type: none;
}

#user-layout-body .flat-footer p{
	margin-top: 10px;
	padding-top: 15px;
}

#login-box{
	max-width: 570px;
}

#login-box .flat-container{
	width: 100%;
}

#facebook-login{
	margin: 20px 0px;
	padding: 10px 40px;
}

#login-form input{
	min-height: 40px;
	margin: 10px 0px;
}

#login-form .login-check-box{
	margin: 10px 0px;
	width: 20px;
}

@media only screen and (max-width: 569px) {
	#user-layout-body{
		padding-top: 0;
	}
	#user-layout-body header {
		display: none;
	}
	#user-layout-body .flat-container{
		width: 100%;
	}
	#user-layout-body .flat-container #hip-way{
		display: block;
		width: 100%;
		padding: 0px 10px;
	}
	#user-layout-body .flat-container #hip-way #p2{
		margin-top: 0;
	}
	#user-layout-body .flat-container #old-school-way{
		display: block;
		width: 100%;
		border-top: 1px solid rgb(239, 244, 246); 
		padding-top: 10px;
	}
	.footer-box {
		width: 90%;
		margin-top: 20px;
		margin-left: 20px;
	}

}

/*---Newsletter Modal---*/

#subscribeModal{
	background-image: url(' ../img/landing-page/modal-bck.jpg');
	background-size: cover;
	height: 300px;
	margin-top: 60px;
}

#subscribe-modal{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
}

/* --- New Group --- */

.new-group .flat-header h3{
	color: white;
	text-align: center
}
.new-group form{
	margin:0; 
	margin-top:20px;
}
.new-group input{
	height: 40px;
	width: 300px;
	font-size: 16px;
}
.new-group .currency{
	margin: 20px 0px;
	font-size: 16px;
}
.new-group .currency span{
	margin-right: 10px;
}
.new-group .currency select{
	width: 60px;
	height: 40px;
}
.new-group .flat-footer{
	margin-top: 20px;
	height: 60px;
	padding: 10px;
}
.new-group .flat-footer input{
	width: 200px;
	padding: 5px 0px;
}

/* --- Blog ---*/
#blog{
	background-image: url(' ../img/links/blog.jpg');
	background-repeat:no-repeat;
	background-size: cover; 
	background-attachment:fixed;
	background-position: 0px -80px;
	height: 450px;
	width: 100%;
	text-align: center;
}

#blog h1{
	color:white;
	font-family:Proxima-regular;
	font-size:52px;
	line-height:1em;
	margin-bottom:15px;
	text-shadow:rgba(54, 54, 54, 0.6) 1px 1px 1px;
}

.blog-container a:hover{
	text-decoration: none;
}

.blog-container h3,{
	color: #272727;
}
.blog-container h4,{
	color: #272727;
}

.blog-container h3:hover{
	color: #444444;
}
.blog-container h4:hover{
	color: #444444;
}


.blog-post{
	font-family: "Proxima-regular", Helvetica, Arial, sans-serif;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3d3d3;
}

.blog-post p{
	color: #4f4f4f;
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1.3em;
	text-align: justify;
	margin-top: 20px;
}

/*----BLOG FRAME------*/

.blog-post-list{
	color: #69AACA;
	display: block;
	font-weight: bold;
	padding: 6px 10px 8px;
	position: relative;
	text-decoration: none;
}

.blog-post-list a:hover{
	text-decoration: none;
}

.blog-post-list li{
	border-bottom: 1px solid #EFF4F6;
	margin: 10px 0px;
	padding-bottom: 10px;
	list-style:none;
}

.selected{
	background: none repeat scroll 0 0 #414141;
	border-radius: 14px 14px 14px 14px;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding:5px 15px;
}

.selected:hover{
	background: none repeat scroll 0 0 #6d6d6d;
	color: #FFFFFF;
}


