/* --- All the css of the NavBar --- */

.img-shadow{
	box-shadow: #000000 0 1px 10px;
}

/* --- Top nav bar ---  */
header{
	background-color:rgba(255, 255, 255, 1);
	border-top-color:rgba(250, 250, 250, 0.6);
	box-shadow:rgba(0, 0, 0, 0.14902) 0 1px 2px;
}

.navbar{
	background-color:#FB786B;
	margin-bottom: 0px;
}
.navbar-inner{
	background-color:#FB786B;
	background-image: none;
	color: white;
	border: none;
	box-shadow:rgba(0, 0, 0, 0.14902) 0 1px 2px, rgba(0, 0, 0, 0.0470588) 0 0 8px inset;
}



.navbar .nav > li > a {
	color:#fff;
	float:none;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:none;
}

.navbar .nav > li > a:hover {
	color:rgba(255,255,255,0.8)
}

.navbar .brand{
	color: #fff;
	text-shadow:none;
	font-weight: bold;
	padding: 6px 15px;
	padding-left: 20px;
	padding-right: 5px;
}

.dropdown-menu{
	color:#8C8C8C;
	top:41px;
	border-color:#E5E5E5;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-top: none;
	width:300px;
	padding: 0px;
	margin:0px;
}

.dropdown-menu .dropdown-your-groups{
	background-color:#F2F2F2;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

.dropdown-menu .dropdown-your-groups div{
	height: 24px;
	padding:0px 28px;
	padding-top: 4px;
	font-weight: bold;
	color: black;
	font-size: 12px
}


.dropdown-menu li{
	border-bottom-color:#EEEEEE;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.dropdown-menu li a div{
	height: 20px;
	padding: 8px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: white;
	background-color:rgba(64,114,197, 0.498039);
	background-image: none;
	filter: none;
}

.dropdown-start-group {
	background-color:#F2F2F2;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}

.dropdown-start-group a div{
	text-align: center;
	color:#0088CC;
	font-weight: bold;
}

.dropdown-start-group a div:hover{	
	color:rgba(64,114,197, 0.498039);
}

.dropdown-menu > .dropdown-start-group > a:hover, .dropdown-menu > .dropdown-start-group > a:focus {
	color: white;
	background-color:rgba(247, 122, 103, 0);
	background-image: none;
	filter: none;
}
.dropdown-menu .divider{
	margin: 0px;
}

.navbar-link{
	padding: 0;
}

#nav-group-name{
	background-color: #ec554a;
	padding: 4px 10px;
	margin-top:-4px;
	margin-bottom:-4px;
	color: white;
	font-size: 16px;
	border-radius: 4px;
}

#nav-group-name:hover{
	color: rgba(255,255,255,0.8);
	background-color: rgba(232,88,68,0.4);
}

#nav-group-name a{
	color: white;
	font-size: 16px;
}

#nav-group-name a{
	color: white;
	font-size: 16px;
}

.navbar .divider-vertical {
	border-left:1px solid rgba(255,255,255, 0.3);
	border-right:1px solid rgba(255,255,255, 0);
	height:40px;
	margin:0 9px;
}

.navbar-scroll{
	background-color:rgba(255, 255, 255, 1);
	border-top-color:rgba(250, 250, 250, 0.6);
	box-shadow:rgba(0, 0, 0, 0.14902) 0 1px 2px, rgba(0, 0, 0, 0.0470588) 0 0 8px inset;
}

.navbar-scroll-item{
	color:black;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	background-color: black;
}
/* --- Group (bottom) --- */


#group{
	text-align: center;
}

#group h1{
	color: rgba(250,250,250,0.8);;
}

#group .member{
	display: inline-block; 
	margin-left: 10px; 
	margin-right: 10px;
	position: relative;
}

#group .member img{
	width: 40px;
}

#group .member a{
	color: rgb(121,136,151);
}

#group .member a:hover{
	text-decoration: none;
	color: rgba(129,136,152,0.8);
}

/* --- toolbar (bottom right) --- */

#toggle-button{
	position: relative;
	color: rgb(200,200,200);
}
#toggle-button:hover{
	text-decoration: none
}
/* --- selection menu --- */

.selection-menu{
	width: 100%;
}

.selection-menu a{
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	color:#f97e76;
}

.selection-menu .user-name{
	-webkit-transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:color 175ms cubic-bezier(0.645, 0.045, 0.355, 1);
	font-weight: bold;	
	color:#f97e76;
	font-family: 'Proxima-regular';
	font-size: 16px;
	text-align: center;
}

.selection-menu a:hover{
	text-decoration: none;
	color:#f6a79f;
}

#navbar-expenses, #navbar-chat, #navbar-dashboard{
	position: relative;
	display: none;
	border:solid 1px rgb(243,243,243);
	border-bottom: none;
	background-color: white;
	font-family: 'Proxima-regular';height:100%; display: inline-block; width: 24%; text-align: center; padding-top: 5px; padding-bottom: 5px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

#navbar-expenses:hover, #navbar-chat:hover, #navbar-dashboard:hover{
	background-color: rgba(247,122,103,0.5);
	color: white;
}


.navbar-item{
	position: relative;
	display: none;
	background-color: rgba(247,122,103,0.5) !important;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	color:white;
}

.navbar-item a{
	color: white;
}

.navbar-item:hover{
	background-color:#EC554A !important;
	color:white;
}
