/* --- --- USER INFO CSS --- --- */

a:hover{
	text-decoration: none;
}


/* --- User information --- */
#user-info{
	position: relative;
	text-align: center;
}

#user-info .flat-header{
	text-align: left;
	height:34px;
	min-height:34px;
}

#user-info  .flat-header > h3{
	margin: 0px 15px;
	color:#FCD5D2;
	font-size:16px;
}

#info-header{
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 5px;
	margin-bottom: 18px
}
#info-header > .flat-header{
	margin:0;
	height:34px;
	min-height:34px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#info-header > .flat-header h3{
	line-height: 0px;
	padding-top: 17px;
}

#profile-stats{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 92%;
	text-align: left;
}

#profile-stats div{
	display: inline-block;
	height: 30px;
	border: 1px solid rgb(234,237,242);
	color: #BEB5B2;
	text-align: center;
	vertical-align: middle;
	padding-top: 8px;
}

#profile-stats > .info-icon{
	width: 20%;
}

.info-icon{
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
}

#profile-stats > .info-text{
	width: 27%;
	overflow: hidden;
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
}

.info-text{
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
}

.profile-info{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	text-align: left;
}

.profile-info div{
	display: inline-block;
	height: 30px;
	border: 1px solid rgb(234,237,242);
	color:#BEB5B2;
	text-align: center;
	vertical-align: middle;
	padding-top: 8px;
}

.profile-info > .info-icon{
	width: 20%;
}

.profile-info > .info-text{
	width: 77%;
	overflow: hidden;
}

.profile-pic-container{
	text-align: center; 
	border-bottom: solid 1px #eaedf2; 
	height:80px;
	text-align: left;
	padding-left: 30px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.profile-pic-info{
	text-align: left;
	display: inline-block;
	width: 30%;
}
.profile-pic-info img{
	width: 80%;
	max-width: 78px;
}
.profile-pic-user{
	display: inline-block;
	text-align: center;
	height: 36px;
	border: 1px solid rgb(234,237,242);
	color:#BEB5B2;
	width: 68%;
	border-radius:4px;
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 7px;
}

.edit-info{
	height: 30px;
	margin: 10px auto;
	margin-bottom: 10px;
	padding-top: 8px;
	color: white;
	text-align: center;
}

.edit-info a div{
	width: 100%;
	height: 100%;
}

.edit-info a{
	color:white;
	width: 100%;
	height: 100%;
}

#edit-user-info div{
	padding-top: 20px;
}

#edit-user-info div input{
	height: 40px;
	margin: 0px 10px;
	margin-right: 30px;
	float: right;
}

#edit-user-info div label{
	height: 40px;
	margin: 10px 10px;
	margin-left:30px;
	float: left;
}

#change-password:hover{
	text-decoration: none;
	cursor: pointer;
}

#feedback-link{
	margin: 15px auto;
}

#feedback-link a{
	cursor: pointer;
	margin: 15px auto;
	color:#BEB5B2;
}


/* --- Group summary --- */

#group-summary{
	width: 100%;
	position: relative;
	text-align: center;
	padding-bottom: 5px;
}

#group-summary .flat-header{
	text-align: left;
}

#group-summary .flat-header > div{
	display: inline-block;
	width: 40%;
}

#group-summary .flat-header h3{
	margin: 0px 15px;
	color:#FCD5D2;
	font-size:16px;
}


#groups-header{
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 5px;
	margin-bottom: 8px
}

#groups-header > .flat-header{
	margin:0;
	height:34px;
	min-height:34px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
}

#groups-header > .flat-header h3{
	line-height: 0px;
	padding-top: 17px;
}

.group-box{	
	display: block;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 18px 20px;
	margin: 10px auto;
	color: #5e6d82;
	text-align: left;
	border:none;
	border-bottom: 1px solid rgb(200,200,200);
	background-color:#ffffff;
}

.group-box:hover{
	box-shadow:0 1px 1px rgba(0,0,0,0.3)
}

.group-box div{
	display: inline-block;
	vertical-align: middle;
}

.accordion-heading-left{
	width: 80px;
}

.accordion-heading-middle{
	width: 80%;
	color:#FCD5D2;
	font-size: 14px;
}
.accordion-heading-right{
	position: absolute;
	right: 0;
	text-align: right;
}

.accordion-heading-right > a,
.accordion-heading-right > a:hover,
.accordion-heading-right > a:active{
	text-decoration: none;
	color: #5E6D82;
}

.accordion-body{
	display: inline-block;
	width: 100%;
}

.accordion-toggle{
	color: rgba(245,103,99,1);
	vertical-align: top;
}

.accordion-toggle:hover{	
	color: #f07971;
	text-decoration: none;
}

.accordion-inner {
	background-color:#F3F3F3;
	border-bottom-color:#E5E5E5;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

/*---- NEW GROUP BUTTON ----*/
#new-group-button{
	border:dashed 2px #b7b7b7;
	border-radius:5px;
	color:#b7b7b7;
	line-height: 68px; 
	width: 99.5%; 
	height: 68px; 
	text-align: center;
	cursor: pointer;
}

#new-group-button:hover{
	background-color: rgba(255,255,255,0.5)
}

/*-------GROUP CREATION-----*/
.new-group h1{
	font-size: 26px;
	margin: 0px 30px;
}

.new-group-content{
	padding: 20px 0px;
}

.new-group .currency{
	margin: 15px 0px;
}

.new-group .currency > label,select{
	display: inline-block;
	margin: 0px 5px;
}

#tk_groupbundle_tgrouptype_currency{
	width: 80px;
}

.new-group .flat-footer{
	padding: 20px 0px;
}

.new-group .flat-footer input{
	width: 200px;
	height: 40px;
	margin: 10px 30px;
	font-size: 16px;

}

.new-group .flat-container .flat-header{
	min-height: 30px
}

.new-group .flat-container .flat-header h3{
	color:#FCD5D2;
	font-size:16px;
	margin:0px 70px;
	text-align: left;
}



/* --- Feedback --- */
.feedback-title{
	text-align: center;
	background-color: #fb786b;
	font-family: "Proxima-regular";
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	color: white;
	width: 100%;
	position: relative;
	padding: 10px 0px;
	margin-bottom: 20px;
	font-size: 18px;
}

#feedback-form{
	text-align:center;
	padding: 20px 0px;
}
