{% trans_default_domain 'FOSUserBundle' %}

<div id="changePasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">   
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">You want to change your password?</h3>
            </div>

            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

			    <div id="fos_user_change_password_form">
					<div>
						<input type="password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" required="required" placeholder="Current Password"/>
					</div>
					<div>
						<input type="password" id="fos_user_change_password_form_plainPassword_first" name="fos_user_change_password_form[plainPassword][first]" required="required" placeholder="New password"/>
					</div>
					<div>
						<input type="password" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][second]" required="required" placeholder="Confirmation"/>
					</div>
					{{ form_widget(form._token) }}
				</div>

			    <div class="modal-footer">
			        <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
			        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
			    </div>

			</form>

        </div>
    </div>
</div>
