<div id="subscribeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="subscribe-modal">
  	<br><br><br><br><p><b>Leave us your email here and we will keep you posted !</b></p>
    {% render(controller('TkWelcomeBundle:Default:subscribe')) %}
  </div>
</div>